USE [master]
GO
/****** Object:  Database [NetsmartzStore_DB]    Script Date: 23-07-2020 13:22:57 ******/
CREATE DATABASE [NetsmartzStore_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NetsmartzStore_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ASHU\MSSQL\DATA\NetsmartzStore_DB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NetsmartzStore_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ASHU\MSSQL\DATA\NetsmartzStore_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetsmartzStore_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NetsmartzStore_DB]
GO
/****** Object:  Table [dbo].[CatagoryTbl]    Script Date: 23-07-2020 13:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CatagoryTbl](
	[CategoryID_PK] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL,
	[CategoryDescription] [varchar](100) NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_CatagoryTbl] PRIMARY KEY CLUSTERED 
(
	[CategoryID_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductTbl]    Script Date: 23-07-2020 13:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductTbl](
	[ProductID_PK] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID_FK] [int] NOT NULL,
	[ProductName] [varchar](50) NULL,
	[ProductDescription] [varchar](50) NULL,
	[ProductQuantity] [int] NULL,
	[ProductPrice] [float] NULL,
	[Discount] [int] NULL,
	[ExpiryDate] [datetime] NULL,
 CONSTRAINT [PK_ProductTbl] PRIMARY KEY CLUSTERED 
(
	[ProductID_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ProductTbl]  WITH CHECK ADD  CONSTRAINT [FK_ProductTbl_CatagoryTbl] FOREIGN KEY([CategoryID_FK])
REFERENCES [dbo].[CatagoryTbl] ([CategoryID_PK])
GO
ALTER TABLE [dbo].[ProductTbl] CHECK CONSTRAINT [FK_ProductTbl_CatagoryTbl]
GO
USE [master]
GO
